.secondary-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(23, 23, 23);
}

.secondary-section h2 {
  font-family: "Roboto-Bold";
  font-size: 2.9rem;
  color: white;
}

.switch-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  padding: 50px;
}

.text-box p {
  font-family: "Roboto-Light";
  font-size: 1rem; /*1.7*/
  color: white;
}

@media screen and (max-width: 1024px) {
  .text-box p {
    padding: 10px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .text-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .text-box p {
    padding: 10px;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
  }
}
