.btn-page-container {
  padding: 14px;
  width: 40%;
  min-width: 120px;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  background-color: black;
  color: white;
  font-family: "Roboto-Medium";
  outline: 1px solid white;
  outline-offset: -2px;
}

.btn-aref {
  width: 100%;
  text-decoration: none;
}
